@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    ViewData["Title"] = "Customer";
}

<div id="content" style="margin-top: 40px;">
    <!-- *** BREADCRUMB *** -->
    
    <!-- /BREADCRUMB -->

    
</div>

