
@{
    Layout = "~/Views/Shared/_LayoutRecoverPassword.cshtml";
    ViewBag.Title = "Password Recovery";
}
<h3>Password change</h3>

<div class="alert alert-success" data-bind="visible: model.chagepasswordresult() == 'success'">
    <strong>Well done!</strong> Please wait for 5 seconds and sign in again.
</div>


<div class="modal-body">
    <form name="recoverForm" id="recoverForm" class="container">
        <div class="row">
            <div class="form-group col-md-3">
                <label for="password">New Password</label>
                <input type="password" data-bind="value: model.changepassword.password" class="form-control" id="password" name="password" placeholder="Password"
                       data-error=".errorPassword"
                       minlength="8" maxlength="20" required>
               <span class="errorPassword text-danger help-inline"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-3">
                <label for="confirmpassword">Retype Password</label>
                <input type="password" data-bind="value: model.changepassword.passwordconfirm" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm password"
                       data-error=".errorConfirm"
                       minlength="8" maxlength="20" required>
                <span class="errorConfirm text-danger help-inline"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-3">
                <input type="hidden" class="form-control" id="confirmkey" name="confirmkey" value="@ViewData["apiInformation"]">
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-md-2 text-center">
                <button type="button" class="btn btn-primary" data-bind="click: model.register.changePassword"><i class="fa fa-sign-in"></i> Ok</button>
            </div>
        </div>
    </form>
</div>